{% extends "base.html" %}


    {% block body %}
    <style>
        body {
            background-image: url('../static/will_rotate2.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>


    <h2>Select Your Purchase</h2>
    <form action="/image_capture" method="post">
        <p><input type="submit" name="submitBox" value="Select Item"/></p>
    </form>

    <section class="container content-section">
        <!-- {% for item in cartList %}
        <li class="collection-item">{{ item }}</li>
        {% endfor %} -->

        <div class="row">
            <!-- <button class="btn btn-primary btn-purchase" type="button">Select Item</button> -->
            
            <div class="col align-self-start">
                <!-- <img src="../static/icons/logo_transparent.png" width="50%"> -->
                <!-- UNCOMMENT FOR VIDEO FEED -->
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
                <h2 class="section-header" style="text-align:center;">CART</h2>
            <div class="cart-row" >
                <span class="cart-item cart-header cart-column"><ul id="itemList"></ul></span>
                <span class="cart-price cart-header cart-column"><ul id="itemPrice"></span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price" id="totalCost"></span>
                <a class="btn btn-primary btn-purchase" type="button" href="/wow">Buy</a>
                <a class="btn btn-danger" type="button" href="/clear">Clear Cart</a>
            </div>
        </div>
    </section>



    <script type="text/javascript">
        // Get acquired items from flask
        var productsInCart = [[]];
        productsInCart = {{cartList|safe}};
        console.log("All elements: " + productsInCart);

        // Calculate total cost
        var sum = 0;

        // Add each item element to HTML list
        var listName = document.getElementById("itemList");
        var listPrice = document.getElementById("itemPrice");

        for (var i= 0; i < productsInCart.length; i++) {
            let li = document.createElement("li");
            let li2 = document.createElement("li");

            var name = productsInCart[i][0];
            var price = productsInCart[i][1];
            li.innerText = name;
            listName.append(li);

            li2.innerText = "$" + price;
            listPrice.append(li2);
            sum += price;
        }

        var spanTotal = document.createElement("span");
        var spanId = document.getElementById("totalCost");
        spanTotal.innerText = "$" + sum;
        spanId.append(spanTotal);

    </script>
    {% endblock %}
